pandas
numpy
matplotlib                 # these are my librar files for Streamlit 
seaborn
scikit-learn
openpyxl
joblib                        # pip install scikit-learn
                              # pip install matplotlib
                              # pip install seaborn